{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'main/blocks/breadcrumbs.html' %}
  <section class="about why-us section-bg contact aos-init aos-animate" data-aos="fade-up">
    <div class="container">

      <div class="row">
    
        <div class="col-lg-6 pt-4 pt-lg-0 d-flex flex-column justify-content-center p-5">
    <p>   {% trans 'Якщо у вас є запитання чи пропозиції, звертайтеся за наступними контактами:' %}
          </p>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-phone"></i></div>
      <h4 class="title">{% trans 'Михайло Андрєєв' %}</h4>
            <p class="description">{% trans 'голова' %}<br>
      <a href="tel:+380738743493">+38 073 874 34 93</a></p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-phone"></i></div>
            <h4 class="title">{% trans 'Олександр Кудря' %}</h4>
            <p class="description">{% trans 'помічник' %}<br>
      <a href="tel:+380738743494">+38 073 874 34 94</a></p>

          </div>
    
    <div class="icon-box">
            <div class="icon"><i class="bx bx-envelope"></i></div>
            <h4 class="title">E-mail</h4>
            <p class="description">
      <a href="mailto:office@dteam.foundation">help@dteam.foundation</a></p>

          </div>
        </div>
    <div class="col-lg-6">
          <img src="{% static 'img/ukraine.png' %}" class="img-fluid" alt="">
        </div>
    
      </div>
      <object style="display: none;"
	data="{% static 'non-profit.pdf' %}"
	type="application/pdf"
	width="100%"
	height="100%"
>
	<p>
		Your browser does not support PDFs.
		<a href="{% static 'main/non-profit.pdf' %}">Download the PDF</a>
		.
	</p>
</object>
    </div>
  </section>
{% endblock content %}
