{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'main/blocks/breadcrumbs.html' %}

  <section class="about" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'main/img/humanitarian.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>{% trans 'В Борисполі діє пункт гуманітарної допомоги' %}</h3>
          <p>
            {% blocktrans %}
            Орієнтовний перелік найнеобхіднішого на найближчий час: консервовані продукти, сублімовані продукти, хліб,
            крупи, питна вода, непродовольчі товари, предмети гігієни та інше.
            {% endblocktrans %}
          </p>
          <p>
           {% trans 'Щоб отримати допомогу необхідно:' %} 
          </p>
          <ul>
            <li><i class="bi bi-check2-square"></i>{% blocktrans %} Звернутись до свого відповідального за будинок або до депутата
              міської ради міста Бориспіль {% endblocktrans %}
            </li>
            <li><i class="bi bi-check2-square"></i> {% blocktrans %} Сформувати список необхідних речей і передати відповідальному чи
              депутату{% endblocktrans %}
            </li>
            <li><i class="bi bi-check2-square"></i>{% blocktrans %}  Допомогу можна забрати з гуманітарного пункту, якщо буде відсутня
              доставка до місця проживання{% endblocktrans %}
            </li>
          </ul>
          <p class="fst-italic">{% blocktrans %}
            Гуманітарна допомога формується не в індивідуальному порядку, а на групу осіб та перадається відповідальній
            людині.{% endblocktrans %}
          </p>
          <p>{% blocktrans %}
            Місто просить із розумінням поставитися до того, що забезпечити у достатній кількості всіх і одразу сьогодні
            неможливо, тож будьмо стриманими та співчутливими до найнужденніших.
            {% endblocktrans %}
          </p>
          <p>{% blocktrans %}
            Якщо ви маєте можливість передати гуманітарний вантаж та матеріально підтримати, звертайтесь в
            Бориспільський волонтерський центр "Перемога"
            {% endblocktrans %}
          </p>
          <a href="{% url 'main:peremoga' %}" class="btn-get-started animate__animated animate__fadeInUp">{% trans 'Хочу допомогти' %}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
