{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block mainheader %}
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <div class="carousel-container">
          <h1 class="animate__animated animate__fadeInDown">{% trans 'Громадська організація' %}<br> {% trans '«ДТІМ ФАУНДЕЙШН»' %}</h1>
          <p class="animate__animated animate__fadeInUp">
            {% blocktrans %}Метою організації є матеріальна допомога Збройним силам України, іншим військовим формуванням, правоохоронним (спеціальним) органам, органам цивільного захисту, добровольчим формуванням територіальних громад, іншим особам, які забезпечують національну безпеку і оборону, відсіч і стримування збройної агресії іноземної держави, а також особам, які постраждали чи можуть постраждати від такої збройної агресії. Усі  наші ресурси направлені на допомогу! Просимо усіх доєднуватися! {% endblocktrans %}</p>
          <a href="{% url 'main:humanitarian' %}" class="btn-get-started animate__animated animate__fadeInUp">{% trans 'Пожертвування' %}</a>
        </div>
        <!-- <div class="carousel-container">
          <h1 class="animate__animated animate__fadeInDown"></h1>
          <p class="animate__animated animate__fadeInUp">Офіційна платформа гуманітарного штабу Борисполя для
            забезпечення переїзду до західної частини України. Надання гуманітарної допомоги з їжею, медикаментами та
            найнеобхіднішим для усіх, хто цього потребує. Бориспіль робить усе необхідне для забезпечення не лише бійців
            тероборони всім необхідним, а й мешканців міста. Зокрема йдеться про літніх людей, інвалідів, матерів з
            маленькими дітьми.</p>
          <a href="{% url 'main:humanitarian' %}" class="btn-get-started animate__animated animate__fadeInUp">Як
            отримати допомогу</a>
        </div> -->
      </div>

    </div>
  </section>
{% endblock mainheader %}


{% block content %}
  <!-- <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-bus"></i></div>
            <h4 class="title">Допомагаємо з переїздом</h4>
            <p class="description">Шукаєте можливість переїхати? Потрібна допомога із пошуком автобуса чи машини?
              Звертайтесь до нашого центру, наші волонтери допоможуть вам якнайскоріше</p>
            <a href="{% url 'main:migration' %}"
               class="btn-get-started animate__animated animate__fadeInUp">Докладніше</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-basket"></i></div>
            <h4 class="title">Гуманітарна допомога</h4>
            <p class="description">В Борисполі діє пункт гуманітарної допомоги для всіх мешканців громади міста, які
              змушені зараз жити в умовах воєнного часу та дійсно потребують необхідної допомоги</p>
            <a href="{% url 'main:humanitarian' %}" class="btn-get-started animate__animated animate__fadeInUp">Докладніше</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-first-aid"></i></div>
            <h4 class="title">Ліки та дитяче харчування</h4>
            <p class="description">Якщо у мешканців міста Бориспіль є необхідність у ліках, дятчому харчуванні і
              памперсах, все необхідне можуть надати безкоштовно при їх наявності у гуманітарній поставці</p>
            <a href="{% url 'main:medical' %}"
               class="btn-get-started animate__animated animate__fadeInUp">Докладніше</a>
          </div>
        </div>

      </div>

    </div>
  </section> -->
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-bus"></i></div>
            <h4 class="title">{% trans 'Допомагаємо з переїздом' %}</h4>
            <p class="description">
              {% blocktrans %}Шукаєте можливість виїхати? Потрібна допомога із пошуком автобуса чи машини? Звертайтесь до нашої організації, волонтери допоможуть вам якнайскоріше
            {% endblocktrans %}
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-basket"></i></div>
            <h4 class="title">{% trans 'Гуманітарна допомога' %}</h4>
            <p class="description">{% trans 'Збір коштів для людей які опинилися в скрутній ситуації та змушені зараз жити в умовах воєнного часу та дійсно потребують необхідної допомоги. Надання гуманітарної допомоги' %}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-shield-alt-2"></i></div>
            <h4 class="title">{% trans 'Допомога ЗСУ' %}</h4>
            <p class="description">{% trans 'Збір коштів на забезпечення для наших захисників. Шукаємо постачальників, сплачуємо та доставляємо бронежилети, тепловізори, медикаменти, тактичний одяг' %} </p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="{% static 'main/img/help.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-body"></i></div>
            <p class="description">Кожного дня ми докладаємо багато зусиль, щоб доставити у громаду гуманітарну допомогу
              для наших людей</p>
          </div>
          <div class="icon-box">
            <div class="icon"><i class="bx bx-donate-heart"></i></div>
            <p class="description">Кожна людина наразі має спраямувати свої зусилля та ресурси задля недопущення
              гуманітарної кризи</p>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <section class="why-us section-bg aos-init aos-animate" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="{% static 'img/help.png' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <div class="icon"><i class="bx bx-body"></i></div>
            <p class="description">{% trans 'Кожного дня ми докладаємо багато зусиль, щоб доставити гуманітарну допомогу для наших людей, які опинились у скрутній ситуації' %}</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-donate-heart"></i></div>
            <p class="description">{% trans 'Кожна людина наразі має спраямувати свої зусилля та ресурси задля недопущення гуманітарної кризи та допомогти наши захисникам' %}</p>

          </div>

        </div>
      </div>

    </div>
  </section>
{% endblock content %}
