{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{{ blog.page_title }}{% endblock %}
{% block description %}{{ blog.description_meta }} {% endblock %}
{% block keywords %}{{ blog.keywords_meta }} {% endblock %}

{% block content %}
  {% include 'main/blocks/breadcrumbs.html' %}
<!-- ======= Blog Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>{% trans 'Новини' %}</h2>

      <ol>
        <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
        <li><a href="{% url 'news:news' %}">{% trans 'Новини' %}</a></li>
        <li>{{ blog.title|safe }}</li>
      </ol>
    </div>

  </div>
</section><!-- End Blog Section -->

 <!-- ======= Blog Single Section ======= -->
 <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h1 class="entry-title">{{ blog.title }}</h1>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> {{ blog.created }}</li>
                <li class="d-flex align-items-center"><i class="bi bi-eye"></i> {{ blog.viewed }} Переглядів</li>
              </ul>
            </div>

            <div class="entry-content">
                {{ blog.description|safe }}
              <!-- <p>
                З першого дня війни наша громадська організація почала діяти для забезпечення наших захисників та допомоги цивільним громадянам. Ми вважаємо російське вторгнення найбільшим викликом для нашої країни. Зважаючи на державні пріоритети воєнного часу, ми запустили нові проекти з метою найшвидшого досягнення перемоги в цій війні.
              </p>

              <p>
                 Деякі наші громадяни борються за нашу країну зі зброєю. Ми допомагаємо з організацією гуманітарної допомоги та забезпечення наших воїнів. Пріоритетним напрямком нашої діяльності є допомога Збройним Силам України, територіальній обороні та вирішення гуманітарних питань.
              </p>

              <blockquote>
                <p>
                  Усі  наші ресурси направлені в ці дні на допомогу людям, які забезпечують національну безпеку і оборону, відсіч і стримування збройної агресії іноземної держави.
                </p>
              </blockquote>

              <p>
                Допомагаєм мешканцям міста гуманітарною допомогою та забезпечуємо їх іншими необхідними речами для подальшого проживання в Борисполі. З нашою допомогою громадяни отримали продукти харчування та медикаменти.
              </p>

              
              <img src="assets/img/news/news-001.png" alt="" class="img-fluid">
           

              <p> </p>
              <p>
                Ми віримо, що разом зможемо підтримати країну як економічно, так і політично. Усі громадяни України виступають за нашу незалежну і суверенну державу. наша організація робить все можливе, щоб домогти в досягненні перемоги. Немає часу впадати у відчай. Ми разом зупинимо ворога!
              </p> -->

            </div>

           

          </article><!-- End blog entry -->

       </div>

        <div class="col-lg-4">

          <div class="sidebar">

            <div class="sidebar-item recent-posts">
                {% for blog in blogs %}
              <div class="post-item clearfix">
                  {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="">
                {% endif %}
                <h4><a href="{% url 'news:blog-detail' blog.pk %}">{{ blog.title|safe }}</a></h4>
                <time datetime="2020-01-01">{{ blog.created }}</time>
              </div>
                {% endfor %}
            </div><!-- End sidebar recent posts-->

            

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

{% endblock%}