{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{{ blog.page_title }}{% endblock %}
{% block description %}{{ blog.description_meta }} {% endblock %}
{% block keywords %}{{ blog.keywords_meta }} {% endblock %}

{% block content %}
  {% include 'main/blocks/breadcrumbs.html' %}
<!-- ======= Blog Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>{% trans 'Новини' %}</h2>

      <ol>
        <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
        <li><a href="{% url 'news:news' %}">{% trans 'Новини' %}</a></li>
        <li>{{ blog.title|safe }}</li>
      </ol>
    </div>

  </div>
</section><!-- End Blog Section -->

 <!-- ======= Blog Single Section ======= -->
 <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h1 class="entry-title">{{ blog.title|safe }}</h1>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> {{ blog.created }}</li>
                <li class="d-flex align-items-center"><i class="bi bi-eye"></i> {{ blog.viewed }} Переглядів</li>
              </ul>
            </div>
            {% if blog.image2 %}
            <img src="{{ blog.image2.url }}" style="max-width: 300px;">
            {% endif %}
            <div class="entry-content">
                {{ blog.description|safe }}
            </div>
          </article><!-- End blog entry -->

       </div>

        <div class="col-lg-4">

          <div class="sidebar">

            <div class="sidebar-item recent-posts">
                {% for blog in blogs %}
              <div class="post-item clearfix">
                  {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="">
                {% endif %}
                <h4><a href="{% url 'news:blog-detail' blog.pk %}">{{ blog.title|safe }}</a></h4>
                <time datetime="2020-01-01">{{ blog.created }}</time>
              </div>
                {% endfor %}
            </div><!-- End sidebar recent posts-->

            

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

{% endblock%}