{% load i18n %}


<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      {% if page == 'peremoga' %}
        <h1>{% blocktrans %}Центр "Перемога" {% endblocktrans %}</h1>
        <ol>
          <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
          <li>{% blocktrans %}Центр "Перемога" {% endblocktrans %}</li>
        </ol>
      {% elif page == 'migration' %}
        <h1>{% trans 'Допомога з переїздом' %}</h1>
        <ol>
          <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
          <li>{% trans 'Допомога з переїздом' %}</li>
        </ol>
      {% elif page == 'medical' %}
        <h1>{% trans 'Ліки, дитяче харчування' %}</h1>
        <ol>
          <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
          <li>{% trans 'Ліки, дитяче харчування' %}</li>
        </ol>
      {% elif page == 'humanitarian' %}
        <h1>{% trans 'Гуманітарна допомога' %}</h1>
        <ol>
          <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
          <li>{% trans 'Гуманітарна допомога' %}</li>
        </ol>
      {% elif page == 'contacts' %}
        <h1>{% trans "Зворотній зв'язок" %}</h1>
        <ol>
          <li><a href="{% url 'main:main' %}">{% trans 'Головна' %}</a></li>
          <li>{% trans "Зворотній зв'язок" %}</li>
        </ol>
      {% endif %}
    </div>
  </div>
</section>
