{% load i18n %}
{% load static %}
{% load tags %}

<header id="header" class="fixed-top d-flex align-items-center {% if page == 'main' %}header-transparent{% endif %}">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <a href="{% url 'main:main' %}"><img src="{% static 'img/dtf-logo.png' %}" alt="" class="img-fluid"></a>
    </div>
    <!-- <div class="logo">
      <a href="index.html"><img src="assets/img/dtf-logo.png" alt="" class="img-fluid"></a>
    </div> -->

    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <form class="boxed boxed-desktop" style="cursor: pointer;" >
      {% for language in languages %}
      <input onchange="location = this.value;" type="radio" id="{{language.code}}" name="lang-switcher" value="{% format_current_url_with_lang_code request language.code LANGUAGE_CODE %}" {% if language.code == LANGUAGE_CODE %} checked {% endif %}>
      <label for="{{language.code}}">{% if language.code == 'uk' %} Укр {% else %} Eng {% endif %}</label>
      {% endfor %}
    </form>
    <nav id="navbar" class="navbar">
      <!-- <form class="boxed boxed-desktop" >
        {% for language in languages %}
        <input onchange="location = this.value;" type="radio" id="{{language.code}}" name="lang-switcher" value="{% format_current_url_with_lang_code request language.code LANGUAGE_CODE %}" {% if language.code == LANGUAGE_CODE %} checked {% endif %}>
        <label for="{{language.code}}">{% if language.code == 'uk' %} Укр {% else %} Eng {% endif %}</label>
        {% endfor %}
      </form> -->
      <ul>
        <form class="boxed boxed-mobile"  style="cursor: pointer;" style="display: none;" >
          {% for language in languages %}
          <input onchange="location = this.value;" type="radio" id="{{language.code}}" name="lang-switcher" value="{% format_current_url_with_lang_code request language.code LANGUAGE_CODE %}" {% if language.code == LANGUAGE_CODE %} checked {% endif %}>
          <label for="{{language.code}}">{% if language.code == 'uk' %} Укр {% else %} Eng {% endif %}</label>
          {% endfor %}
        </form>
        <li><a {% if page == 'main' %}class="active"{% endif %} href="{% url 'main:main' %}">{% trans 'Про нас' %}</a></li>
        {% for page in pages %}
        <li><a {% if current == 'page' %}class="active"{% endif %} href="{% url 'main:detail' page.pk %}">{{ page.title|safe }}</br></a></li>
        {% endfor %}
        <!-- <li><a {% if page == 'main' %}class="active"{% endif %} href="{% url 'main:main' %}">Головна</br>сторінка</a></li>
        <li><a {% if page == 'migration' %}class="active"{% endif %} href="{% url 'main:migration' %}">Допомога</br>з переїздом</a></li>
        <li><a {% if page == 'humanitarian' %}class="active"{% endif %} href="{% url 'main:humanitarian' %}">Гуманітарна</br>допомога</a></li>
        <li><a {% if page == 'medical' %}class="active"{% endif %} href="{% url 'main:medical' %}">Ліки, памперси</br>дитяче харчування</a></li>
        <li><a {% if page == 'contacts' %}class="active"{% endif %} href="{% url 'main:contacts' %}">Зворотній</br>зв'язок</a></li> -->
        <li><a {% if page == 'gallery' %}class="active"{% endif %}  href="{% url 'main:gallery' %}">{% trans 'Галерея' %}</a></li>
        <li><a {% if page == 'blogs' %}class="active"{% endif %}  href="{% url 'news:news' %}">{% trans 'Новини' %}</a></li>
        <li><a {% if page == 'contacts' %}class="active"{% endif %}  href="{% url 'main:contacts' %}">{% trans 'Контакти' %}</a></li>
        <li><a {% if page == 'donate' %}class="active"{% endif %}  href="{% url 'main:donate' %}">{% trans 'Пожертвування' %}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
      </ul>
    </nav>

  </div>
</header>
